# PostgreSQL Configuration
DATABASE_URL=postgresql://username:password@host:port/database

# RabbitMQ Configuration
RABBITMQ_USER=your_rabbitmq_user
RABBITMQ_PASS=your_rabbitmq_password
RABBITMQ_HOST=your_rabbitmq_host
RABBITMQ_URL="amqp://user:password@host:5672/"
RABBITMQ_VHOST=/

# JWT Configuration
JWT_SECRET="your_jwt_secret_key_here"
JWT_EXPIRES_IN=3600
ALGORITHM="HS256"

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
# Redis URL
REDIS_URL="redis://:your_redis_password@host:6379/0"
# Email Configuration for Mailtrap
EMAIL_FROM=no-reply@yourdomain.com
# Mailtrap SMTP Configuration for Transactional Emails
MAILTRAP_HOST=live.smtp.mailtrap.io
MAILTRAP_PORT=587
MAILTRAP_USER=api
MAILTRAP_PASS=your_mailtrap_password
# Mailtrap SMTP Configuration for Notification Emails
BULK_MAILTRAP_HOST=bulk.smtp.mailtrap.io
BULK_MAILTRAP_PASS=your_bulk_mailtrap_password
# Domain for links in notifications
BASE_URL="https://yourdomain.com"
# Telegram Bot
TELEGRAM_TOKEN=your_telegram_bot_token
TELEGRAM_CHANNEL_ID=@yourchannel
# Permissions notify
ENABLE_EMAIL=True
ENABLE_TELEGRAM=True
ENABLE_VIBER=False
# Viber
VIBER_TOKEN=
