# app/.env.example
# Database Configuration
DATABASE_URL=postgresql://data_analytic:password@localhost:5432/analytic_db

# Spark Configuration
SPARK_MASTER=local[*]
SPARK_APP_NAME=GrainTrade-DataPipeline

# Delta Lake Paths
BRONZE_LAYER_PATH=/data/delta/bronze
SILVER_LAYER_PATH=/data/delta/silver
GOLD_LAYER_PATH=/data/delta/gold
PREDICTION_PATH=/data/delta/predictions

# API Configuration
API_HOST=0.0.0.0
API_PORT=8004

# Environment
ENV=development

# Logging
LOG_LEVEL=INFO

# Data Sources
DATA_SOURCES_PATH=./data_sources

# Airflow
AIRFLOW_HOME=./airflow

# Hetzner Object Storage
HETZNER_STORAGE_ENDPOINT=hel1.your-objectstorage.com
HETZNER_STORAGE_ACCESS_KEY=
HETZNER_STORAGE_SECRET_KEY=
HETZNER_STORAGE_REGION=hel1
HETZNER_STORAGE_BUCKET=graintrade-info

# RabbitMQ Configuration
RABBITMQ_USER=<your_rabbitmq_user>
RABBITMQ_PASS=<your_rabbitmq_pass>
RABBITMQ_HOST=<your_rabbitmq_host>
RABBITMQ_URL="amqp://<your_rabbitmq_user>:<your_rabbitmq_pass>@<your_rabbitmq_host>:5672/"
RABBITMQ_VHOST=/
# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
# Redis URL
REDIS_URL="redis://:<your_redis_password>@<your_redis_host>:6379/0"
# Domain for links in notifications
BASE_URL="https://graintrade.info"
# Telegram Bot
TELEGRAM_TOKEN=<your_telegram_token>
TELEGRAM_CHANNEL_ID=<your_telegram_channel_id>